<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="textFileListener" 
             type="System.Diagnostics.TextWriterTraceListener" 
             initializeData="TextTrace.log" 
             traceOutputOptions="ProcessId, ThreadId, Timestamp, DateTime, Callstack,LogicalOperationStack"
             />
        <add name="rollbarListener" 
             type="Rollbar.NetStandard.RollbarTraceListener,Rollbar" 
             traceOutputOptions="ProcessId, ThreadId, Timestamp, DateTime, Callstack,LogicalOperationStack" 
             rollbarAccessToken="17965fa5041749b6bf7095a190001ded" 
             rollbarEnvironment="RollbarNetSamples"
             />
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

</configuration>
