@page "/counter"

@using Samples
@using Rollbar

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        TestOutRollbar();
    }

    private static void TestOutRollbar()
    {
        RollbarDestinationOptions destinationOptions =
            new RollbarDestinationOptions(
                RollbarSamplesSettings.AccessToken,
                RollbarSamplesSettings.Environment);

        RollbarLoggerConfig config = new RollbarLoggerConfig();
        config.RollbarDestinationOptions.Reconfigure(destinationOptions);

        IRollbar logger = null;
        try
        {
            logger = RollbarFactory.CreateNew(config);
            logger.Info("Hello from Blazor WASM!!!");

            int divider = 0;
            int result = 20 / divider;
        }
        catch(Exception ex)
        {
            string error = ex.Message;
            logger.Error(ex);
        }

    }

}
